<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Tópicos</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class=" col h2 border-left">
    Tópicos
  </div>
</div>

  <table class="mb-4 table table-hover display">
    <thead>
      <tr class="mb-4 bg-light">
        <th class="">
          Tópico
        </th>
        <th>
          Ações
        </th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let topic of topics">
        <td>
          <strong>{{topic.name}}</strong><br>
        </td>

        <td>
          <button class="btn btn-info mr-2" [routerLink]="[topic.id,'edit']">Editar</button>
          <button class="btn btn-danger ml-2" [disabled]="!topic.isActive" >Inativar</button>
        </td>
      </tr>
    </tbody>

  </table>
