
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="mt-4 breadcrumb">
    <li class=" breadcrumb-item" routerLink="/"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Categorias</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class=" col h2 border-left">
    {{pageName}}
  </div>
  
  <div class="btn btn-info d-flex align-items-center" routerLink="/categories">
    <mat-icon>arrow_back</mat-icon>&nbsp;Voltar
  </div>
</div>


<form [formGroup]="categoryForm" (submit)="submit()" class="mb-4">
  
  <div class="card">
    <div class="card-hearder">
    </div>
    
    <div class="card-body">
      
      <div class="form-row ">

        <div class="form-group col-md-4">
          <label for="name" class="bold">Nome</label>
          <input  type="text" class="form-control" formControlName="name" [value]="category.name" id="name">
        </div>
        
        <div class="form-group col-md-8">
          <label for="description" class="bold">Descrição</label>
          <input  type="text" class="form-control" formControlName="description" id="description"  [value]="category.description">
        </div>  

      </div>

      <div class="form-row mt-3">

        <div  class="form-group col-md">
          <label  for="id" class="bold">Id</label>
          <input disabled type="text" class="form-control" formControlName="id" id="id"  [value]="category.id">
        </div>
        
        <div  class="form-group col-md">
          <label  for="bio" class="bold">Author</label>
          <input [attr.disabled]="isCreating" type="text" class="form-control" formControlName="authorEmail" id="bio"  [value]="category.authorEmai">
        </div>

      </div>

      <div class="form-row mt-3">
        
        <div  class="form-group col-md-4">
          <label for="bio" class="bold" >Data de criação</label>
          <input [attr.disabled]="isCreating"  type="text" class="form-control" formControlName="created_at"  id="bio"  [value]="category.created_at">
        </div>
        
        <div  class="form-group col-md-4">
          <label for="updated_at" class="bold">Ultima atualização</label>
          <input [attr.disabled]="isCreating" formControlName="updated_at"  type="text" class="form-control" id="avatar"  [value]="category.updated_at">
        </div> 

        <div class="form-group col-md-4">
          <label for="deleted" class="bold">Inativar</label>
          <input type="checkbox" class="row ml-5" value="deleted" />
        </div>
       
      </div>

      <div class="form-group row mt-3">
        <div class="ml-3 col-3">
          <input type="file" class="custom-file-input" formControlName="imageStorage"
            id="imageStorage" required>
          <label class="custom-file-label" for="i">Upload de imagem</label>
          <div class="invalid-feedback">Example invalid custom file feedback</div>
        </div>

        <div class="col-3 mr-1">
          <img [src]="category.imageStorage" class="rounded-image" width="300" />
        </div>
      </div>

    </div>
  </div>

  <button [disabled]="submittingForm || categoryForm.invalid" (submit)="submit()" class="mt-4 btn btn-primary d-flex align-items-center">
    <mat-icon>check</mat-icon> &nbsp;{{nameButton}}
  </button>
  <br/><br/>

</form>
