<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item" routerLink="/"><a href="#">Home</a></li>
    <li class="breadcrumb-item" aria-current="page">Categorias</li>
  </ol>
</nav>

<div class="row mb-4">
  <div class=" col h2 border-left">
    {{pageName}}
  </div>
  
  <div class="btn btn-success d-flex align-items-center" routerLink="new">
    <mat-icon>add_circle</mat-icon>&nbsp;Nova Categoria
  </div>
</div>

<table class="mb-4 table table-hover display">
  <thead>
    <tr class="mb-4 bg-light">
      <th class="">
        Categoria
      </th>
      <th>
        Ações
      </th>
    </tr>
  </thead>
  
  <tbody>
    <tr *ngFor="let category of categories">
      <td>
        <strong>{{category.name}}</strong><br>
        <small>{{category.description}}</small>
      </td>
      
      <td>
        <button class="btn btn-info mr-2" [routerLink]="[category.id,'edit']">Editar</button>
        <button class="btn btn-danger ml-2"  >Excluir</button>
      </td>
    </tr>
  </tbody>
  
</table>







